<form class="container mx-auto flex flex-col items-center gap-6 p-2">
  <app-radio-group
    *ngFor="let question of questions; let questionMarker = index"
  >
    <i>{{ questionMarker + 1 }}.</i> {{ question.legend }}

    <app-radio-button
      *ngFor="let answer of question.answers | keyvalue : sortAnswers"
      [name]="question.id"
      [value]="answer.key"
      [checked]="answer.key === 'c'"
    >
      <i>{{ answerMarkers[answer.key] }}.</i> {{ answer.value }}
    </app-radio-button>
  </app-radio-group>

  <!-- TODO submit button -->
</form>
