.button {
  display: inline-block;
  padding: theme('spacing[2]') theme('spacing[5]');
  border-radius: theme('borderRadius.xl');
  box-shadow: theme('boxShadow.DEFAULT');
  background-color: theme('colors.neutral[600]');
  color: theme('colors.neutral[50]');
  font-family: theme('fontFamily.saira');
  font-size: theme('fontSize.xl[0]');
  font-weight: theme('fontWeight.semibold');
  line-height: theme('lineHeight.none');
  text-transform: uppercase;
  cursor: pointer;
}

.button:active {
  transform: translateY(theme('translate[px]'));
  filter: brightness(theme('brightness[95]'));
  box-shadow: theme('boxShadow.sm');
}
