@layer components {
  .input-text {
    background-color: theme('colors.neutral[100]');
    padding: theme('spacing[1]') theme('spacing[2]') theme('spacing[0.5]');
    font-family: theme('fontFamily.courier-prime');
    color: theme('colors.neutral[900]');
    @apply text-lg shadow-inner shadow-neutral-900/30 placeholder:text-neutral-900/50;
  }

  .input-text::placeholder {
    /* TODO I think Tailwind needs an update to use opacity through the theme function; replace placeholder:text-neutral-900/50 later */
    font-style: italic;
  }
}
