@layer components {
	/*
	Classes for high-level, flexible layouts.
	*/

	.cluster {
		display: flex;
		flex-wrap: var(--cluster-wrap, wrap);
		align-items: var(--cluster-align-items, center);
		justify-content: var(--cluster-justify-content, center);
		gap: var(--cluster-gap, theme(spacing[3]));
	}

	.inline-flow {
		display: inline-flex;
		align-items: var(--inline-flow-align-items, center);
		gap: var(--inline-flow-gap, theme(spacing[1]));
	}

	.three-row-cover {
		display: grid;
		grid-template-rows: auto 1fr auto;
	}

	.sm-two-column {
		display: grid;
		justify-content: center;
		gap: var(--sm-two-column-gap, theme(spacing[4]));
		grid-template-columns: repeat(1, minmax(0, var(--sm-two-column-max-w, theme(maxWidth.xs))));

		@media screen(sm) {
			grid-template-columns: repeat(2, minmax(0, var(--sm-two-column-max-w, theme(maxWidth.xs))));
		}
	}
}
