@layer composition {
	/*
	Classes for high-level, flexible layouts.
	*/

	.cluster {
		display: flex;
		flex-wrap: var(--cluster-wrap, wrap);
		align-items: var(--cluster-align-items, center);
		justify-content: var(--cluster-justify-content, center);
		gap: var(--cluster-gap, --spacing(3));
	}

	.inline-cluster {
		display: inline-flex;
		align-items: var(--inline-cluster-align-items, center);
		gap: var(--inline-cluster-gap, --spacing(1));
	}

	.three-row-cover {
		display: grid;
		grid-template-rows: auto 1fr auto;
	}

	.sm-two-column {
		display: grid;
		justify-content: center;
		gap: var(--sm-two-column-gap, --spacing(4));
		grid-template-columns: repeat(1, minmax(0, var(--sm-two-column-max-w, var(--container-xs))));

		@media (width >= theme(--breakpoint-sm)) {
			grid-template-columns: repeat(2, minmax(0, var(--sm-two-column-max-w, var(--container-xs))));
		}
	}
}

/*
Configure Tailwind's "container" utility to layout with centering and spacing.
*/
@utility container {
	margin-inline: auto;
	padding: --spacing(2);
}
