@layer components {
	/*
	Classes for high-level, flexible layouts.
	*/

	.sm-two-column {
		display: grid;
		justify-content: center;
		gap: var(--sm-two-column-gap, theme(spacing[4]));
		grid-template-columns: repeat(1, minmax(0, var(--sm-two-column-max-w, theme(maxWidth.xs))));

		@media screen(sm) {
			grid-template-columns: repeat(2, minmax(0, var(--sm-two-column-max-w, theme(maxWidth.xs))));
		}
	}
}
