@layer base {
	/*
	Global styling of semantic elements.
	*/

	html {
		height: 100%;
	}

	body {
		height: 100%;
		overflow: auto;
		font-family: theme(fontFamily.encode-sans);
		color: theme(colors.neutral[900]);
		background-color: theme(colors.neutral[50]);
	}

	table {
		margin-left: auto;
		margin-right: auto;
		text-align: left;
		vertical-align: middle;
	}

	thead {
		background-color: theme(colors.neutral[200]);
		font-family: theme(fontFamily.saira);
		font-weight: theme(fontWeight.semibold);
		font-stretch: theme(fontStretch.semi-expanded);
		color: theme(colors.neutral[800]);

		tr:first-child th {
			&:first-child {
				border-top-left-radius: theme(borderRadius.lg);
			}

			&:last-child {
				border-top-right-radius: theme(borderRadius.lg);
			}
		}
	}

	th {
		padding: theme(spacing[1.5]) theme(spacing[4]);
	}

	td {
		padding: theme(spacing[3]) theme(spacing[4]);
	}

	ul,
	ol {
		margin-left: auto;
		margin-right: auto;
		width: fit-content;
		max-width: theme(maxWidth.prose);
		list-style-position: inside;
		@apply space-y-1;
	}

	ul {
		list-style-type: disc;
	}

	ol {
		list-style-type: decimal;
	}

	li::marker {
		font-style: italic;
	}

	h1 {
		margin-left: auto;
		margin-right: auto;
		width: fit-content;
		max-width: theme(maxWidth.xl);
		text-wrap: balance;
		text-align: center;
		font-stretch: theme(fontStretch.semi-expanded);
		@apply text-2xl;
	}

	p {
		margin-left: auto;
		margin-right: auto;
		width: fit-content;
		max-width: theme(maxWidth.prose);
		text-wrap: pretty;
	}

	a {
		cursor: pointer;
		color: theme(colors.blue[800]);
		text-decoration-line: underline;
	}
}
