@layer base {
	/*
	Global styling of semantic elements.
	*/

	html {
		height: 100%;
	}

	body {
		height: 100%;
		overflow: auto;
		font-family: theme(fontFamily.encode-sans);
		color: theme(colors.neutral[900]);
		background-color: theme(colors.neutral[50]);
	}

	p {
		margin-left: auto;
		margin-right: auto;
		width: fit-content;
		max-width: theme(maxWidth.prose);
		text-wrap: pretty;
	}

	a {
		cursor: pointer;
		color: theme(colors.blue[800]);
		text-decoration-line: underline;
	}
}
