@layer global {
	/*
	Global styling of semantic elements.
	*/

	html {
		height: 100%;
	}

	body {
		height: 100%;
		overflow: auto;
		font-family: var(--font-encode-sans);
		color: var(--color-neutral-900);
		background-color: var(--color-neutral-50);
	}

	table {
		margin-inline: auto;
		text-align: left;
		vertical-align: middle;
	}

	thead {
		background-color: var(--color-neutral-200);
		font-family: var(--font-saira);
		font-weight: var(--font-weight-semibold);
		font-stretch: semi-expanded;
		color: var(--color-neutral-800);

		tr:first-child th {
			&:first-child {
				border-top-left-radius: var(--radius-lg);
			}

			&:last-child {
				border-top-right-radius: var(--radius-lg);
			}
		}
	}

	th {
		padding: --spacing(1.5) --spacing(4);
	}

	td {
		padding: --spacing(3) --spacing(4);
	}

	form {
		margin-inline: auto;
		width: fit-content;
		border-radius: var(--radius-2xl);
		background-color: var(--color-neutral-200);
		padding: --spacing(4) --spacing(2);

		@variant sm {
			padding-inline: --spacing(4);
		}
	}

	legend {
		width: fit-content;
		max-width: var(--max-width-prose);
		text-wrap: pretty;
	}

	label {
		width: fit-content;
		max-width: var(--max-width-prose);
		cursor: pointer;
		text-wrap: pretty;
	}

	input[type='radio'] {
		cursor: pointer;
		accent-color: var(--color-blue-500);
	}

	ul,
	ol {
		margin-inline: auto;
		width: fit-content;
		max-width: var(--max-width-prose);
		list-style-position: inside;
	}

	ul {
		list-style-type: disc;
	}

	ol {
		list-style-type: decimal;
	}

	li::marker {
		font-style: italic;
	}

	h1 {
		margin-inline: auto;
		width: fit-content;
		max-width: var(--container-xl);
		text-wrap: balance;
		text-align: center;
		font-stretch: semi-expanded;
		@apply text-2xl;
	}

	p {
		margin-inline: auto;
		width: fit-content;
		max-width: var(--max-width-prose);
		text-wrap: pretty;
	}

	a {
		cursor: pointer;
		color: var(--color-blue-800);
		text-decoration-line: underline;
	}

	button,
	a:where(.button) {
		cursor: pointer;
		border-radius: var(--radius-sm);
		background-color: var(--color-neutral-600);
		padding: --spacing(1) --spacing(1.5);
		font-weight: var(--font-weight-medium);
		color: var(--color-white);
		@apply text-sm;
	}

	a:where(.button) {
		display: inline-block;
		text-decoration-line: none;
	}
}
