<main class="container min-h-screen px-2 py-4 mx-auto">
  <h1 class="font-bold text-2xl text-black text-opacity-80 mb-6">
    <span class="px-2 py-1 border-b-4 rounded-md border-purple-700 inline-block"
      >Aspect Quiz Analyzer</span
    >
  </h1>
  <section class="my-4">
    <p class="text-base text-black text-opacity-80 my-4">
      This app should be using
      <a
        class="no-underline hover:underline text-blue-700 hover:text-blue-500"
        href="https://tailwindcss.com"
        >Tailwind CSS</a
      >.
    </p>
  </section>

  <router-outlet></router-outlet>
</main>
